/* Tailwind CSS */
@import 'tailwindcss';
@tailwind utilities;

/* Theme variables for Tailwind CSS */
@theme {
  --color-miami-pink: #e276d8;
  --color-baby-pink: #ffbbcb;
}

:root {
  font-family: Inter, sans-serif;
}
